.git
.github
.env
.DS_Store
/dist
/specsdeployd
taskfiles
.dockerignore
.editorconfig
.gitignore
.golangci.yml
.goreleaser.yml
.markdownlint-cli2.yaml
compose.yml
Dockerfile
LICENSE
README.md
Taskfile.dist.yml
